version: "3.8"

services:
  # Layanan Database (MySQL)
  db:
    image: mysql:8.0
    container_name: student-hub-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: studenthub
      MYSQL_DATABASE: crud_studenthub
    volumes:
      - db-data:/var/lib/mysql

  # Layanan Backend (Node.js)
  backend:
    build: ./back-end
    image: irfanman/student-hub-backend:latest
    container_name: student_hub_backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=crud_studenthub
      - DB_USER=root
      - DB_PASS=studenthub
    depends_on:
      - db

  # Layanan Frontend (React + NGINX)
  frontend:
    build: ./front-end
    image: irfanman/student-hub-frontend:latest
    container_name: student_hub_frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db-data:
