@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9843 0.0017 247.8393);
  --foreground: oklch(0.2159 0.0419 265.477);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2159 0.0419 265.477);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2159 0.0419 265.477);
  --primary: oklch(0.7214 0.1216 209.7277);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9239 0.0043 228.8114);
  --secondary-foreground: oklch(0.2159 0.0419 265.477);
  --muted: oklch(0.9613 0.0022 247.8448);
  --muted-foreground: oklch(0.5132 0.0198 229.3153);
  --accent: oklch(0.727 0.1422 53.7871);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6295 0.1785 23.7701);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9191 0.0074 264.525);
  --input: oklch(1 0 0);
  --ring: oklch(0.7214 0.1216 209.7277);
  --chart-1: oklch(0.7214 0.1216 209.7277);
  --chart-2: oklch(0.727 0.1422 53.7871);
  --chart-3: oklch(0.7498 0.1006 160.8683);
  --chart-4: oklch(0.7253 0.0973 314.1623);
  --chart-5: oklch(0.7863 0.1405 89.7748);
  --sidebar: oklch(0.9843 0.0017 247.8393);
  --sidebar-foreground: oklch(0.2159 0.0419 265.477);
  --sidebar-primary: oklch(0.7214 0.1216 209.7277);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.727 0.1422 53.7871);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.9191 0.0074 264.525);
  --sidebar-ring: oklch(0.7214 0.1216 209.7277);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(220, 10%, 50%);
  --shadow-2xs: 0px 0.25rem 0.5rem 0rem hsl(220 10% 50% / 0.05);
  --shadow-xs: 0px 0.25rem 0.5rem 0rem hsl(220 10% 50% / 0.05);
  --shadow-sm: 0px 0.25rem 0.5rem 0rem hsl(220 10% 50% / 0.1),
    0px 1px 2px -1px hsl(220 10% 50% / 0.1);
  --shadow: 0px 0.25rem 0.5rem 0rem hsl(220 10% 50% / 0.1),
    0px 1px 2px -1px hsl(220 10% 50% / 0.1);
  --shadow-md: 0px 0.25rem 0.5rem 0rem hsl(220 10% 50% / 0.1),
    0px 2px 4px -1px hsl(220 10% 50% / 0.1);
  --shadow-lg: 0px 0.25rem 0.5rem 0rem hsl(220 10% 50% / 0.1),
    0px 4px 6px -1px hsl(220 10% 50% / 0.1);
  --shadow-xl: 0px 0.25rem 0.5rem 0rem hsl(220 10% 50% / 0.1),
    0px 8px 10px -1px hsl(220 10% 50% / 0.1);
  --shadow-2xl: 0px 0.25rem 0.5rem 0rem hsl(220 10% 50% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2561 0.0259 263.9536);
  --foreground: oklch(0.9843 0.0017 247.8393);
  --card: oklch(0.2879 0.0241 264.0872);
  --card-foreground: oklch(0.9843 0.0017 247.8393);
  --popover: oklch(0.2879 0.0241 264.0872);
  --popover-foreground: oklch(0.9843 0.0017 247.8393);
  --primary: oklch(0.7727 0.1189 208.0487);
  --primary-foreground: oklch(0.2561 0.0259 263.9536);
  --secondary: oklch(0.3657 0.0208 248.3964);
  --secondary-foreground: oklch(0.9843 0.0017 247.8393);
  --muted: oklch(0.3591 0.0295 256.8271);
  --muted-foreground: oklch(0.7598 0.0209 248.103);
  --accent: oklch(0.596 0.1248 53.01);
  --accent-foreground: oklch(0.9843 0.0017 247.8393);
  --destructive: oklch(0.5181 0.1747 25.761);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --border: oklch(0.4051 0.0344 256.8295);
  --input: oklch(0.2879 0.0241 264.0872);
  --ring: oklch(0.7727 0.1189 208.0487);
  --chart-1: oklch(0.7727 0.1189 208.0487);
  --chart-2: oklch(0.596 0.1248 53.01);
  --chart-3: oklch(0.5649 0.0803 160.5306);
  --chart-4: oklch(0.5518 0.1268 313.5842);
  --chart-5: oklch(0.607 0.0999 90.577);
  --sidebar: oklch(0.2561 0.0259 263.9536);
  --sidebar-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary: oklch(0.7727 0.1189 208.0487);
  --sidebar-primary-foreground: oklch(0.2561 0.0259 263.9536);
  --sidebar-accent: oklch(0.596 0.1248 53.01);
  --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-border: oklch(0.4051 0.0344 256.8295);
  --sidebar-ring: oklch(0.7727 0.1189 208.0487);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(220, 10%, 0%);
  --shadow-2xs: 0px 0.25rem 0.5rem 0rem hsl(220 10% 0% / 0.1);
  --shadow-xs: 0px 0.25rem 0.5rem 0rem hsl(220 10% 0% / 0.1);
  --shadow-sm: 0px 0.25rem 0.5rem 0rem hsl(220 10% 0% / 0.2),
    0px 1px 2px -1px hsl(220 10% 0% / 0.2);
  --shadow: 0px 0.25rem 0.5rem 0rem hsl(220 10% 0% / 0.2),
    0px 1px 2px -1px hsl(220 10% 0% / 0.2);
  --shadow-md: 0px 0.25rem 0.5rem 0rem hsl(220 10% 0% / 0.2),
    0px 2px 4px -1px hsl(220 10% 0% / 0.2);
  --shadow-lg: 0px 0.25rem 0.5rem 0rem hsl(220 10% 0% / 0.2),
    0px 4px 6px -1px hsl(220 10% 0% / 0.2);
  --shadow-xl: 0px 0.25rem 0.5rem 0rem hsl(220 10% 0% / 0.2),
    0px 8px 10px -1px hsl(220 10% 0% / 0.2);
  --shadow-2xl: 0px 0.25rem 0.5rem 0rem hsl(220 10% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
