name: Backend CI

on:
  push:
    branches: [main, irfan, irham, marcel, arda]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./back-end

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: back-end/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test || echo "No tests configured"

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Backend Docker image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v5
        with:
          context: ./back-end
          file: ./back-end/Dockerfile
          push: true
          tags: irfanman/student-hub-backend:latest
